<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link type="text/css"  rel="stylesheet" href="//media.twiliocdn.com/taskrouter/quickstart/agent.css"/>

</head>
<body>
    <div id="workers">
        <h2>A selection of voice workers</h2>
       @foreach (var voiceWorker in @ViewBag.voice_worker)
        {<a href="/home/agent_desktop?WorkerSid=@voiceWorker.Sid"> @voiceWorker.FriendlyName </a> <font size="-1">(@voiceWorker.ActivityName)</font><br />
}
    </div>

</body>
</html>
