<?xml version="1.0" encoding="utf-8"?>
<!--
Web.config file for ContactCenter.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
      <add key="TWILIO_ACME_ACCOUNT_SID" value="ACa4bce2a9b146016e2df90908df0e8471" />
      <add key="TWILIO_ACME_AUTH_TOKEN" value="f38249bc2e88b453786920a84691e61e" />
      <add key="TWILIO_ACME_TWIML_APP_SID" value="AP4158c0dab52972abdb77a40b5f84e317" />
      <add key="TWILIO_ACME_WORKSPACE_SID" value="WS738d5043d072f1d3903247475ce92eae" />
      <add key="TWILIO_ACME_MANAGER_WORKFLOW_SID" value="WW4af8717df650b33eaaf1b9e5f52d8014" />
      <add key="TWILIO_ACME_SUPPORT_WORKFLOW_SID" value="WW0c92185f8874043985de421f548819b4" />
      <add key="TWILIO_ACME_SALES_WORKFLOW_SID" value="WW5834dc4628754c03f13084fa68463742" />
      <add key="TWILIO_ACME_BILLING_WORKFLOW_SID" value="WW3e4ddd16e23bb8a6579e14b4f5650f88" />
      <add key="TWILIO_ACME_CALLERID" value="+448081645567" />
      <add key="TWILIO_ACME_WRAP_UP_ACTIVITY" value="WA1734410947caec098f53ed4f29e35732" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>